.slideshow-container {
    position: relative; 
    height: 100vh;
    overflow: visible; 
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .slide {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    display: none;
  }
  
  .slide.active {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .slide h2 {
    position: relative;
    color: hsl(0, 0%, 68%);
    font-weight: bold!important;
    font-family: "Anonymous Pro", monospace!important;
    letter-spacing: 7px!important;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1 normal both,
               blinkTextCursor 500ms infinite;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 700px;
    }
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }
  
  .slide h2:not(:first-child) {
    animation-delay: 0;
  }
  